p{
    animation: pointdown 4000ms infinite alternate-reverse;
    transition: ease-in-out;
}

@keyframes pointdown {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(16px);
    }
}